.bannerContainer {
    overflow: hidden;
    /* position: relative; */
    width: 100%;
    height: 100vh;
    all: initial;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.banner {
    overflow: hidden;
}

.banner::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  /* transition: opacity 400ms ease-in-out; */
}

.image {
  width: 1500%;
  /* height: 100%; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

.textBox {
  width: 600px;
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
  animation: text-up 12s linear infinite;
  transform: translateY(100px);
  /* z-index: 10; */
}

.textBox h1 {
  margin-bottom: 40px;
  font-size: 40px;
}

.textBox p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 80px;
}

.textBox span {
  background: red;
  height: 1px;
  width: 100px;
  position: absolute;
  left: 0;
}

/* .banner1 {
  animation: slide1 12s linear infinite;
}
.banner2 {
  animation: slide2 12s linear infinite;
}
.banner3 {
  animation: slide3 12s linear infinite;
}

.banner4 {
  animation: slide4 12s linear infinite;
} */

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes text-up {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.textBox1 {
  animation-delay: 0s;
}

.textBox2 {
  animation-delay: 3s;
}

.textBox3 {
  animation-delay: 6s;
}

.textBox4 {
  animation-delay: 9s;
}
